In [1]:
import pandas as pd

df = pd.read_csv('./model_logs/v17.1.csv')
df

    iteration  reward_mean  length_mean  games  loss
0         500        -1.00         2.00      8   NaN
1        1000        -1.00         2.00      9   NaN
2        1500        -0.88         2.12      8   NaN
3        2000        -1.00         2.00      8   NaN
4        2500        -1.00         2.00      8   NaN
5        3000        -0.89         2.11      9   NaN
6        3500        -1.00         2.00      8   NaN
7        4000        -0.89         2.11      9   NaN
8        4500        -0.88         2.12      8   NaN
9        5000        -1.00         2.00      8   NaN
10       5500        -1.00         2.00      9   NaN
11       6000        -1.00         2.00      8   NaN
12       6500        -0.88         2.12      8   NaN
13       7000        -1.00         2.00      8   NaN
14       7500        -1.00         2.00     10   NaN
15       8000        -0.90         2.10     10   NaN
16       8500        -1.00         2.00      8   NaN
17       9000        -0.89         2.11      9   NaN
18       9500        -1.00         2.00     12   NaN
19      10000        -1.00         2.00      8   NaN
20      10500        -1.00         2.00      9   NaN
21      11000        -0.90         2.10     10   NaN
22      11500        -0.78         2.22      9   NaN
23      12000        -0.89         2.11      9   NaN
24      12500        -1.00         2.00      9   NaN
25      13000        -1.00         2.00      8   NaN
26      13500        -0.88         2.12      8   NaN
27      14000        -0.88         2.12      8   NaN
28      14500        -1.00         2.00     10   NaN
29      15000        -1.00         2.00      9   NaN
30      15500        -0.78         2.22      9   NaN
31      16000        -1.00         2.00      9   NaN
32      16500        -1.00         2.00     10   NaN
33      17000        -1.00         2.00      9   NaN
34      17500        -1.00         2.00      8   NaN
35      18000        -0.90         2.10     10   NaN
36      18500        -0.90         2.10     10   NaN
37      19000        -1.00         2.00      8   NaN
38      19500        -0.88         2.12      8   NaN
39      20000        -1.00         2.00      9   NaN